{% extends "base.html" %}

{% block body %}

<h2>Login Form</h2>

<form method="post">
{% csrf_token %}
  <div class="container">
    {% comment %} <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required> {% endcomment %}
    {{ form.as_p }}

    <button type="submit">Login</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
        <a class="btn" href="{% url 'signup' %}">Sign up</a>
    </div>
</form>

{% endblock body %}

{% block error %}
{% if error %}
    <p>{{ error }}</p>
{% endif %}
{% endblock error %}